/* COLORS */
$turquoise: #1ABC9C;
$green-sea: #16A085;
$emerald: #2ECC71;
$nephritis: #27AE60;
$peter-river: #3498DB;
$belize-hole: #2980B9;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;
$amethyst: #9B59B6;
$wisteria: #8E44AD;
$sunflower: #F1C40F;
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;
$alizarin: #E74C3C;
$pomegranate: #C0392B;
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;

// Vintage Colors
$vintage-dark: #5C4B51;
$vintage-blue: #8CBEB2;
$vintage-light: #F2EBBF;
$vintage-orange: #F3B562;
$vintage-red: #F06060;

// Cirque Colors
$cirque-purple: #96526B;
$cirque-red: #D17869;
$cirque-orange: #EBAD60;
$cirque-yellow: #F5CF66;
$cirque-green: #8BAB8D;

// Orange
$orange-0: #EF6C00;
$orange-1: #FFC107;
$orange-2: #FF9800;
$orange-3: #FF5722;
$orange-4: #795548;

// Base Colors
$black: #333333;
$white: #FFFFFF;
$background-color: $black;

/* SIZES */
$base-font-size: 16px;
$container-max-width: 56em;
$base-tile-height: 10em;

$blue: #3FA9F5;
$green: #7AC943;
$orange: #FF931E;
$red: #FF1D25;
$pink: #FF7BAC;
$light-blue: #D9EEFD;
$brown: #804A0F;

